body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/*Title page*/
.page-title {
    text-align: center;
    margin: 30px 0;
}

.page-title h1 {
    margin: 0;
    color: #0067bc;
    font-size: 2.5em;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.page-title p {
    margin-top: 10px;
    color: #555;
    font-size: 1.05em;
}

/* Decorative line underneath title */

.title-line {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    width: 300px;
    max-width: 80%;
    margin: 10px auto;
}

.title-line span {
    height: 2px;
    background-color: #0067bc;
    flex: 1;
}

.title-diamond {
    width: 9px;
    height: 9px;
    background-color: #0067bc;
    transform: rotate(45deg);
}

/*Header*/

header {
    background-color: #ffffff;
    padding: 15px 20px 18px;
    text-align: center;
    position: relative;
    border-bottom: 3px solid #0067bc;
}

.site-logo {
    text-align: center;
}

.site-logo img {
    width: 350px;
    max-width: 90%;
    height: auto;
}

header h1 {
    color: #0067bc;
    font-size: 2.4em;
    font-weight: 800;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.page-title h1::after {
    content: "";
    display: block;

    width: 80px;
    height: 4px;

    background-color: #0067bc;

    margin: 8px auto 0;

    border-radius: 2px;
}

/*Navigation*/

nav a {
    display: inline-block;

    color: #0067bc;
    background-color: #ffffff;

    text-decoration: none;

    padding: 8px 16px;
    margin: 0 5px;

    border: 2px solid #0067bc;
    border-radius: 8px;

    font-weight: bold;

    transition: 0.2s;
}

nav a:hover {
    background-color: #0067bc;
    color: #ffffff;
}

/*Main*/

main {
    padding: 20px;
    flex: 1;
}

/*Team*/

.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.team-member {
    width: 300px;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    background: #e9eef3;
}

.team-member img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #fff;
}

.team-member h2 {
    color: #0067bc;
    margin-top: 15px;
    margin-bottom: 0;
}

.team-member p {
    color: #555;
    line-height: 1.6;
}

.bio-header {
    background-color: #e8f2ff;
    border: 2px solid #0067bc;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.bio-description {
    color: #222;
    padding-top: 5px;
    text-align: left;
}

/* Footer */
footer {
    background-color: #808080;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}
