body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*Header*/

header {
    background-color: #0F52BA;
    color: #ffff;
    padding: 20px;
    text-align: center;
    position: relative;
}

.header-icons {
    position: absolute;
    top: 20px;
    right: 20px;

    display: flex;
    gap: 15px;
}

.header-icons img {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

/*Navigation*/

nav a {
    color: #ffff;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    color: #ffff;
    text-decoration: underline;
}

/*Main*/

main {
    padding: 20px;
    flex: 1;
}

/*Team*/

.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.team-member {
    width: 300px;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    background: #808080;
}

.team-member img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
}

.team-member h2 {
    margin-top: 15px;
    margin-bottom: 10px;
}

.team-member p {
    line-height: 1.6;
}

.bio-header {
    padding-bottom: 20px;
    border-bottom: 2px solid #02075d;
}

.bio-description {
    padding-top: 15px;
    text-align: left;
}

/* Footer */
footer {
    background-color: #0F52BA;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}
