<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SEFire</title>
        <link rel="stylesheet" href="/assets/css/style.css">
    </head>
    <body>
        <header>
            <h1>SEFire</h1>
            <nav>
                <ul>
                    <li> <a href = "{{ '/' | relative_url}}">Home</a></li>
                    <li><a href="{{ '/team' | relative_url }}">Team</a></li>
                    <li><a href="{{ '/documents' | relative_url }}">Documents</a></li>
                    <li><a href="{{ '/presentations' | relative_url }}">Presentations</a></li>
                </ul>
            </nav>
        </header>

        <main>
            {{ content }}
        </main>

        <footer>
            <p>SEFire | ODU CS 410 Team Sapphire</p>
        </footer>
    </body>
</html>