<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ page.title | default: site.title | escape }} | SEFire</title>

  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>

<body>

  <header class="site-header">
    <div class="site-logo">
        <a href="{{ '/' | relative_url }}">
            <img src="{{ '/assets/images/SEFireTitle.png' | relative_url }}"
                 alt="SEFire">
        </a>
    </div>

    <nav>
        <a href="{{ '/' | relative_url }}">Home</a>
        <a href="{{ '/team.html' | relative_url }}">Team</a>
        <a href="{{ '/documents.html' | relative_url }}">Documents</a>
        <a href="{{ '/presentations.html' | relative_url }}">Presentations</a>
    </nav>
  </header>

  <main id="main-content" class="page-content">
    {{ content }}
  </main>

  <footer class="site-footer">
    <p><strong>SEFire · Team Sapphire</strong></p>
    <p>Old Dominion University · CS 410</p>
  </footer>
</body>
</html>